{% extends 'base.html' %}
{% block title %}
    À propos
{% endblock %}

{% block content %}
    <section id="apropos" class="container-fluid pt-5 pb-4">
        <div class="row align-items-center">
            <h1 class="text-center mb-4">À propos</h1>
            <div class="col-lg-6 col-md-8 col-sm-12 ps-md-5 pe-md-5 text-center d-flex flex-column justify-content-center">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped shadow">
                        <tbody>
                        <tr>
                            <th scope="row">Nom de l'organisation</th>
                            <td>Ndawi's Kindness</td>
                        </tr>
                        <tr>
                            <th scope="row">Date de création</th>
                            <td>2022</td>
                        </tr>
                        <tr>
                            <th scope="row">Créateur</th>
                            <td>Momo et Bineta</td>
                        </tr>
                        <tr>
                            <th scope="row">Lieu de création</th>
                            <td>Sénégal</td>
                        </tr>
                        <tr>
                            <th scope="row">Budget annuel</th>
                            <td>$500 000</td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre de missions</th>
                            <td>15 missions à travers l'Afrique et le monde</td>
                        </tr>
                        <tr>
                            <th scope="row">Bénéficiaires</th>
                            <td>Plus de 10 000 personnes aidées</td>
                        </tr>
                        <tr>
                            <th scope="row">Domaines d'intervention</th>
                            <td>Santé, Éducation, Alimentation, Logement</td>
                        </tr>
                        <tr>
                            <th scope="row">Contact</th>
                            <td><a href="mailto:contact@ndawiskindness.org">contact@ndawiskindness.org</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 text-center d-flex flex-column justify-content-center">
                <p class="lead px-md-5 mt-3">
                    Ndawi's Kindness est une organisation à but non lucratif fondée au Sénégal en 2022 par Momo et Bineta, animée par le désir d’apporter
                    une lueur d’espoir aux communautés les plus vulnérables. Depuis sa création, nous avons pour mission de répondre
                    aux besoins essentiels des personnes en difficulté et de favoriser un environnement où chacun peut vivre dans la dignité.
                </p>
            </div>
        </div>
    </section>
{% endblock %}