{% extends 'base-admin.html' %}
{% block title %}
    Liste Candidats
{% endblock %}

{% block content %}
    <section id="candidatlist" class="pt-5 pb-4">
        <div class="container">
            <h1 class="text-center">Liste des candidats</h1>
            <div class="table-responsive w-100">
                <table class="table table-bordered table-striped shadow w-100">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Courriel</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}