{% extends 'base.html' %}
{% block title %}
    Mot de passe
{% endblock %}

{% block content %}
    <section id="forgetpassword" class="container-fluid pt-5">

        {% if message_erreur %}
            <div class="alert alert-danger" role="alert">
                {{ message_erreur }}
            </div>
        {% endif %}

        <h1 class="text-center">Vérification courriel</h1>
        <div id="forgetpassword-form">
            <form action="{{ url_for('forget_password') }}" method="POST">
                <div class="row mb-3">
                    <label for="emailforget" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" name="emailforget" class="form-control" id="emailforget" value="{{ emailforget }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8 d-flex justify-content-end">
                        <a href="{{ url_for('administration') }}" class="btn btn-danger me-2">Annuler</a>
                        <input type="submit" class="btn btn-primary" value="Continuer">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}